@charset "utf-8";
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* <------------------------Barra de Navegacion---------------------------------------> */
header {
    background-color: #40caca;
    padding: 20px 0;
}

.nombre_centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}
/* <----------------------------------------------------------------------------> */

/* <---------------------------Cartas--de--nosotros------------------------------> */
.nosotros{ 
    display: flex; 
    justify-content:center; 
    flex-wrap:wrap; 
    gap: 16px; 
} 
.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: auto;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.imagen-circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;;
}
.cuerpo{
    padding: 10px;
    flex: 1 1 100%;
}
/* <----------------------------------------------------------------------------> */


/* <-------------------------------Pie de Pagina--------------------------------> */
footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
.pie_pagina{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}
/* <----------------------------------------------------------------------------> */

/* <--------------------------Home Descripcion----------------------------------> */

/* <------------------------------------------------------------> */
.contenedor_Home {
    display: flex;
    width: 100%;
    justify-content:center; 
    flex-wrap:wrap; 
    gap: 16px; 
}

.izquierda {
    flex: 0 0 auto;
    margin-right: 20px;
}

.texto_Home {
    text-align: justify;
    flex: 1;
    font-size: 15px;
    float: right;
    width: 30%;
}
/* <------------------------------------------------------------> */

/* <------------------------------------------------------------> */
.derecha {
    float: right;
    margin-left: 10px;
    width: 600px; 
    height: 400px;
}
.texto_Home2 {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    float: left;
    width: 30%;
}
.contenedor_Home2 {
    display: flex;
    width: 100%;
    justify-content:center; 
    flex-wrap:wrap; 
    gap: 16px; 
}
/* <------------------------------------------------------------> */

/* <----------------------------------------------------------------------------> */